APP_NAME=NAME_APP

# URL base de la API
BASE_URL=http://localhost/api/
# Entorno de la aplicación: development | production
ENVIRONMENT=development
# Zona horaria de la aplicación
APP_TIMEZONE=America/Mexico_City
# Nivel de logueo: 0 = Ninguno, 1 = Errores, 2 = Depuración
LOG_LEVEL=1
# Clave secreta para la firma de tokens JWT
JWT_KEY=tu_clave_secreta_aqui
JWT_EXPIRE_TIME=3600

# -- Configuración para Entorno de Desarrollo (default) --
DB_GROUP=default
DB_DRIVER=mysqli
DB_HOST=localhost
DB_USER=root
DB_PASS=pswd_db
DB_NAME=name_db
DB_PORT=3306
# -- Configuración para Entorno de Producción --
DB_PCONNECT=FALSE
DB_SAVE_QUERIES=TRUE



API_URL=http://unapi.com/

MINIO_URL_SERVER='http://localhost:9000/'
MINIO_USER=''
MINIO_PASS=''

ZEROTIER_NET_ID=''

JWT_EXPIRE_TIME=300

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

SMTP_USER=
SMTP_PASS=
SMTP_HOST=
SMTP_PORT=
SMTP_FROM=
SMTP_FROM_NAME=
SMTP_ENCRYPTION=
